[submodule "Lightning/3rdparty/assimp"]
	path = Lightning/3rdparty/assimp
	url = git://github.com/assimp/assimp.git
[submodule "Lightning/3rdparty/glfw"]
	path = Lightning/3rdparty/glfw
	url = git://github.com/glfw/glfw.git
[submodule "Lightning/3rdparty/glm"]
	path = Lightning/3rdparty/glm
	url = git://github.com/g-truc/glm.git
[submodule "Lightning/3rdparty/gli"]
	path = Lightning/3rdparty/gli
	url = git://github.com/g-truc/gli
[submodule "Lightning/3rdparty/glad"]
	path = Lightning/3rdparty/glad
	url = https://github.com/Dav1dde/glad
	branch = c
